* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

a,
a:visited {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    cursor: pointer;
    text-decoration: none;
    color: rgba(148, 166, 190, 0.4);
}

button {
    cursor: pointer;
    outline: none;
}

.subttl {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
}

._error {
    border: 1px solid red;
    background-color: #ffe6e6;
}

ul li {
    list-style: none;
}

@keyframes card-animation {
    0% {
        height: 0;
        opacity: 0;
    }
    100% {
        height: auto;
        opacity: 1;
    }
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0, 1);
    overflow: hidden;
}

._hover03 {
    width: 72px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(86, 94, 239, 1);
    border-radius: 4px;
    margin-left: 36.5px;
    background: rgba(255, 255, 255, 1);
}

._hover03:hover {
    background-color: #33399b;
    color: rgba(255, 255, 255, 1);
}
._hover03:hover a {
    color: rgba(255, 255, 255, 1);
}

.pop-user-set:target,
.pop-exit-confirm:target,
.pop-new-card:target,
.pop-browse:target {
    display: block;
}

.pop-wrap {
    position: relative;
    top: 0;
    left: 0;
}

/* Категории в окнах создания и редактирования задач */
._orange {
    background-color: rgba(255, 228, 194, 1);
    color: rgba(255, 109, 0, 1);
}
._green {
    background-color: #b4fdd1;
    color: #06b16e;
}
._purple {
    background-color: #e9d4ff;
    color: #9a48f1;
}

/* pop-user (имя, почта, переключение темы, кнопка выхода) - light */
.pop-user__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 42px;
    right: 0;
    width: 213px;
    height: 205px;
    border-radius: 10px;
    border: 0.7px solid rgba(148, 166, 190, 0.4);
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 10px 39px 0px rgba(26, 56, 101, 0.21);
    padding: 34px;
    text-align: center;
    z-index: 9999;
    pointer-events: auto;
    opacity: 1;
}

.pop-user__name {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 4px;
}

.pop-user__login {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgba(148, 166, 190, 1);
    margin-bottom: 10px;
}

/* Переключатель темы */
.pop-user__theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.pop-user__theme p {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.pop-user__menu input[type="checkbox"] {
    position: relative;
    width: 24px;
    height: 14px;
    border-radius: 100px;
    background-color: rgba(234, 238, 246, 1);
    outline: none;
    appearance: none;
    cursor: pointer;
}

.pop-user__menu input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: rgba(148, 166, 190, 1);
    transition: 0.5s;
    cursor: pointer;
}

.pop-user__menu input:checked[type="checkbox"]::before {
    left: 12px;
}

/* Кнопка "Выйти" */
.pop-user__menu button {
    width: 72px;
    height: 30px;
    background-color: transparent;
    border-radius: 4px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid rgba(86, 94, 239, 1);
    color: rgba(86, 94, 239, 1);
}

/* Кнопка "Выйти" hover */
.pop-user__menu button:hover {
    background-color: rgba(86, 94, 239, 1);
    color: rgba(255, 255, 255, 1);
}

/* pop-user (имя, почта, переключение темы, кнопка выхода) - dark */
.pop-user__menu.dark-mode {
    background-color: rgba(32, 34, 41, 1);
    border: 0.7px solid rgba(78, 85, 102, 1);
    box-shadow: 0px 10px 39px 0px rgba(148, 166, 190, 0.4);
}

.pop-user__menu.dark-mode .pop-user__name {
    color: rgba(255, 255, 255, 1);
}

/* Переключатель темы */
.pop-user__menu.dark-mode input[type="checkbox"] {
    background-color: rgba(255, 255, 255, 1);
}

.pop-user__menu.dark-mode input[type="checkbox"]::before {
    background-color: rgba(86, 94, 239, 1);
}

/* Кнопка "Выйти" */
.pop-user__menu.dark-mode button {
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
}

/* Кнопка "Выйти" hover */
.pop-user__menu.dark-mode button:hover {
    border-color: rgba(86, 94, 239, 1);
}

/* pop-exit-confirm (подтверждение выхода) - light */
.pop-exit-confirm {
    display: block;
    width: 100%;
    height: 100%;
    min-width: 320px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.pop-exit-confirm__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.4);
}

.pop-exit-confirm__block {
    display: block;
    width: 370px;
    height: 180px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    border: 0.7px solid rgba(212, 219, 229, 1);
    box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.13);
    padding: 50px 29px;
}

.pop-exit-confirm__title h2 {
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 20px;
}

.pop-exit-confirm__form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pop-exit-confirm__form button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 153px;
    height: 30px;
    border-radius: 4px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    letter-spacing: -0.14px;
    outline: none;
}

.pop-exit-confirm__exit-yes {
    background-color: rgba(86, 94, 239, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
}

.pop-exit-confirm__exit-no {
    background-color: transparent;
    border-radius: 4px;
    border: 0.7px solid rgba(86, 94, 239, 1);
    color: rgba(86, 94, 239, 1);
}

/* pop-exit-confirm (подтверждение выхода) - dark */
.pop-exit-confirm__block.dark-mode {
    background-color: rgba(32, 32, 44, 1) !important;
    border: 0.7px solid rgba(78, 85, 102, 1) !important;
    box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.13) !important;
}

.pop-exit-confirm__block.dark-mode .pop-exit-confirm__title h2 {
    color: rgba(255, 255, 255, 1) !important;
}

.pop-exit-confirm__block.dark-mode .pop-exit-confirm__exit-yes {
    background-color: rgba(86, 94, 239, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
}

.pop-exit-confirm__block.dark-mode .pop-exit-confirm__exit-no {
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    border: 0.7px solid rgba(255, 255, 255, 1);
}

/* pop-exit-confirm - 495px */
@media screen and (max-width: 495px) {
    .pop-exit-confirm__block {
        width: 343px;
        height: 240px;
        padding: 50px 20px;
    }

    .pop-exit-confirm__form {
        flex-direction: column;
        gap: 10px;
    }

    .pop-exit-confirm__form button {
        width: 100%;
        height: 40px;
    }

    .pop-exit-confirm__exit-yes {
        width: 100%;
        height: 40px;
    }

    .pop-exit-confirm__exit-no {
        width: 100%;
        height: 40px;
    }
}

/* pop-new-card (создание новой задачи) - light */
.pop-new-card {
    display: block;
    width: 100%;
    min-width: 375px;
    height: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
}

.pop-new-card__container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
}

.pop-new-card__form-block {
    display: block;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 100%;
    max-width: 630px;
    max-height: 596px;
    padding: 40px 30px 48px;
    border-radius: 10px;
    position: relative;
}

.pop-new-card__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
}

.pop-new-card__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
}

.pop-new-card__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.pop-new-card__form {
    width: 100%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
}

.pop-new-card__form-description {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pop-new-card__form-input,
.pop-new-card__form-area {
    width: 100%;
    outline: none;
    padding: 14px;
    background: transparent;
    border: 0.7px solid rgba(148, 166, 190, 0.4);
    border-radius: 8px;
    font-size: 14px;
    line-height: 1;
}

.pop-new-card__form-input::placeholder,
.pop-new-card__form-area::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1px;
    color: rgb(148, 166, 190);
}

.pop-new-card__form-input {
    margin: 20px 0;
}

.pop-new-card__form-area {
    width: 100%;
    margin-top: 14px;
    height: 200px;
}

.pop-new-card__calendar {
    width: 168px;
}

.pop-new-card__category-themes {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 7px;
    margin-top: 14px;
}

.pop-new-card__category-theme,
.pop-browse__category-theme {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.pop-new-card__category-theme._active-category,
.pop-browse__category-theme._active-category,
.pop-browse__category-theme-mobile._active-category {
    opacity: 1 !important;
}

.pop-new-card__category-theme:not(._active-category):hover,
.pop-browse__category-theme:not(._active-category):hover,
.pop-browse__category-theme-mobile:not(._active-category):hover {
    opacity: 1;
}

.pop-new-card__btn-create {
    width: 132px;
    height: 30px;
    background-color: rgba(86, 94, 239, 1);
    border-radius: 4px;
    border: none;
    outline: none;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 10px;
    color: rgba(255, 255, 255, 1);
    align-self: flex-end;
}

/* pop-new-card (создание новой задачи) - dark */
.pop-new-card__form-block.dark-mode {
    background-color: rgba(32, 32, 44, 1);
    border: 0.7px solid rgba(78, 85, 102, 1);
    color: rgba(255, 255, 255, 1);
}

.pop-new-card__form-block.dark-mode .pop-new-card__title {
    color: rgba(255, 255, 255, 1);
}

.pop-new-card__form-block.dark-mode .subttl {
    color: rgba(255, 255, 255, 1);
}

.pop-new-card__form-block.dark-mode .pop-new-card__form-input,
.pop-new-card__form-block.dark-mode .pop-new-card__form-area {
    border: 0.7px solid rgba(148, 166, 190, 0.4);
    color: rgba(255, 255, 255, 1);
}

.pop-new-card__form-block.dark-mode .pop-new-card__form-input::placeholder,
.pop-new-card__form-block.dark-mode .pop-new-card__form-area::placeholder {
    color: rgba(148, 166, 190, 1);
}

/* категории в dark */
.pop-new-card__form-block.dark-mode .pop-browse__category-theme,
.pop-new-card__form-block.dark-mode .pop-browse__category-theme-mobile {
    background-color: transparent;
    opacity: 0.8;
}

.pop-new-card__form-block.dark-mode .pop-browse__category-theme._orange,
.pop-new-card__form-block.dark-mode .pop-browse__category-theme-mobile._orange {
    background-color: rgba(255, 109, 0, 1);
    color: rgba(255, 228, 194, 1);
}

.pop-new-card__form-block.dark-mode .pop-browse__category-theme._green,
.pop-new-card__form-block.dark-mode .pop-browse__category-theme-mobile._green {
    background-color: rgba(6, 177, 110, 1);
    color: rgba(180, 253, 209, 1);
}

.pop-new-card__form-block.dark-mode .pop-browse__category-theme._purple,
.pop-new-card__form-block.dark-mode .pop-browse__category-theme-mobile._purple {
    background-color: rgba(154, 72, 241, 1);
    color: rgba(233, 212, 255, 1);
}

.pop-new-card__form-block.dark-mode
    .pop-browse__category-theme._active-category,
.pop-new-card__form-block.dark-mode
    .pop-browse__category-theme-mobile._active-category {
    opacity: 1;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
}

/* pop-new-card - 660px */
@media screen and (max-width: 660px) {
    .pop-new-card {
        top: 70px;
        border-top: 0.7px solid rgba(148, 166, 190, 0.4);
    }

    .pop-new-card__container {
        padding: 0;
        justify-content: flex-start;
    }

    .pop-new-card__form-block {
        border-radius: 0;
        padding: 20px 16px 32px;
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .pop-new-card__form-block.dark-mode {
        background-color: #20202c;
    }

    .pop-new-card__form {
        flex-grow: 1;
    }

    .pop-new-card__form-input {
        height: 37px;
    }

    .pop-new-card__form-area {
        max-width: 100%;
        overflow: hidden;
    }

    .pop-new-card__form-area .text-area {
        height: 100%;
    }

    .pop-new-card__form-area::placeholder {
        font-size: 14px;
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        position: relative;
        top: 4px;
    }

    .pop-new-card__form-block.dark-mode .pop-new-card__form-input,
    .pop-new-card__form-block.dark-mode .pop-new-card__form-area {
        background-color: #20202c;
    }

    .pop-new-card__calendar {
        width: 168px;
    }

    .pop-new-card__category {
        margin-top: 0;
    }

    .pop-new-card__btn-create {
        width: calc(100% - 32px);
        height: 40px;
        position: fixed;
        bottom: 38px;
    }
}

/* pop-new-card - 495px */
@media screen and (max-width: 495px) {
    .pop-new-card__wrap {
        flex-direction: column;
    }

    .pop-new-card__calendar {
        width: 100%;
    }

    .pop-new-card__form-area {
        height: 37px;
    }
}

/* pop-browse (редактирование задачи) - light */
.pop-browse {
    display: block;
    width: 100%;
    height: 100%;
    min-width: 375px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
}

.pop-browse__container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
}

.pop-browse__block {
    background-color: rgba(255, 255, 255, 1);
    width: 630px;
    height: 492px;
    padding: 40px 30px 48px;
    border-radius: 10px;
    border: 0.7px solid #d4dbe5;
    position: relative;
}

.pop-browse__content {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
    height: 100%;
}

.pop-browse__category {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pop-browse__category-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
}

.pop-browse__category-theme,
.pop-browse__category-theme-mobile {
    height: 30px;
    border-radius: 24px;
    padding: 8px 20px;
}

.pop-browse__category-theme-block-mobile {
    display: none;
}

.pop-browse__category-theme p,
.pop-browse__category-theme-mobile p {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
}

.pop-browse__status-themes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 7px;
    width: 100%;
    margin-top: 14px;
}

.pop-browse__status-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 30px;
    border-radius: 24px;
    padding: 10px 14px;
    opacity: 1;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(148, 166, 190, 1);
    border-color: rgba(148, 166, 190, 1);
    border: 0.7px solid rgba(148, 166, 190, 0.4);
    cursor: pointer;
}

.pop-browse__status-theme._active {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(148, 166, 190, 1);
    color: rgba(255, 255, 255, 1);
}

.pop-browse__status-theme p {
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    text-align: center;
}

.pop-browse__description {
    display: flex;
    gap: 20px;
}

.pop-browse__description-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.pop-browse__description-form-area {
    width: 370px;
    height: 100%;
    border-radius: 8px;
    border: 0.7px solid rgba(148, 166, 190, 0.4);
    opacity: 1;
    padding: 20px 14px;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(148, 166, 190, 1);
}

.pop-browse__description-form-area::placeholder {
    font-weight: 400;
    font-size: 14px;
    color: rgba(148, 166, 190, 1);
}

.pop-browse__description-form-area._view-mode {
    border: none;
    background-color: rgba(234, 238, 246, 1);
}

.pop-browse__calendar {
    width: 168px;
}

.pop-browse__btn-block {
    display: flex;
    gap: 8px;
    width: 100%;
}

.pop-browse__btn-block button,
.pop-browse__btn-edit button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 0 14px;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 10px;
}

.pop-browse__btn-edit,
.pop-browse__btn-delete,
.pop-browse__btn-save,
.pop-browse__btn-cancel,
.pop-browse__btn-delete {
    border: 0.7px solid rgba(86, 94, 239, 1);
    color: rgba(86, 94, 239, 1);
    background-color: rgba(255, 255, 255, 1);
}

.pop-browse__btn-edit:hover,
.pop-browse__btn-delete:hover,
.pop-browse__btn-save:hover,
.pop-browse__btn-cancel:hover,
.pop-browse__btn-delete:hover {
    border: 0.7px solid rgba(86, 94, 239, 1);
    color: rgba(255, 255, 255, 1);
    background-color: rgba(86, 94, 239, 1);
}

.pop-browse__btn-close {
    border: none;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(86, 94, 239, 1);
    margin-left: auto;
}

/* pop-browse (редактирование задачи) - dark */
.pop-browse__block.dark-mode {
    background-color: rgba(32, 32, 44, 1);
    border: 0.7px solid rgba(78, 85, 102, 1);
    color: rgba(255, 255, 255, 1);
}

.pop-browse__block.dark-mode .pop-browse__category-title {
    color: rgba(255, 255, 255, 1);
}

.pop-browse__block.dark-mode .subttl {
    color: rgba(255, 255, 255, 1);
}

.pop-browse__form-block.dark-mode .pop-browse__category-theme {
    background-color: transparent;
    opacity: 0.8;
}

.pop-browse__form-block.dark-mode .pop-browse__category-theme._orange {
    background-color: rgba(255, 109, 0, 1);
    color: rgba(255, 228, 194, 1);
}

.pop-browse__form-block.dark-mode .pop-browse__category-theme._green {
    background-color: rgba(6, 177, 110, 1);
    color: rgba(180, 253, 209, 1);
}

.pop-browse__form-block.dark-mode .pop-browse__category-theme._purple {
    background-color: rgba(154, 72, 241, 1);
    color: rgba(233, 212, 255, 1);
}

.pop-browse__block.dark-mode .pop-browse__description-form-area {
    background-color: rgba(21, 20, 25, 0);
    color: rgba(148, 166, 190, 1);
    border: 0.7px solid rgba(148, 166, 190, 0.4);
}

.pop-browse__block.dark-mode .pop-browse__description-form-area::placeholder {
    color: rgba(148, 166, 190, 1);
}

.pop-browse__block.dark-mode .pop-browse__description-form-area._view-mode {
    border: none;
    background-color: rgba(21, 20, 25, 1);
}

.pop-browse__block.dark-mode .pop-browse__status-theme {
    background-color: rgba(78, 85, 102, 0);
}

.pop-browse__block.dark-mode .pop-browse__status-theme._active {
    border-color: none;
    background-color: rgba(148, 166, 190, 1);
    color: rgba(21, 20, 25, 1);
}

.pop-browse__description-form-area._view-mode {
    border: none;
    background-color: rgba(234, 238, 246, 1);
}

.pop-browse__block.dark-mode .pop-browse__btn-edit,
.pop-browse__block.dark-mode .pop-browse__btn-delete,
.pop-browse__block.dark-mode .pop-browse__btn-save,
.pop-browse__block.dark-mode .pop-browse__btn-cancel,
.pop-browse__block.dark-mode .pop-browse__btn-delete {
    border: 0.7px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    background-color: rgba(32, 32, 44, 0);
}

.pop-browse__block.dark-mode .pop-browse__btn-edit:hover,
.pop-browse__block.dark-mode .pop-browse__btn-delete:hover,
.pop-browse__block.dark-mode .pop-browse__btn-save:hover,
.pop-browse__block.dark-mode .pop-browse__btn-cancel:hover,
.pop-browse__block.dark-mode .pop-browse__btn-delete:hover {
    border: 0.7px solid rgba(86, 94, 239, 1);
    color: rgba(255, 255, 255, 1);
    background-color: rgba(86, 94, 239, 1);
}

/* pop-browse - 660px */
@media screen and (max-width: 660px) {
    .pop-browse {
        top: 70px;
        overflow-y: auto;
        scrollbar-width: none;
        height: calc(100vh - 812px);
    }

    .pop-browse__container {
        padding: 0;
        justify-content: flex-start;
    }

    .pop-browse__block {
        width: 100%;
        height: 100%;
        max-height: 100%;
        padding: 20px 16px 32px;
        border-radius: 0;
    }

    .pop-browse__description-form {
        flex-grow: 1;
        flex-direction: column;
    }

    .pop-browse__description-form-area {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .pop-browse__btn-block {
        display: flex;
        flex-direction: column;
        gap: 10px;
        /* width: calc(100% - 32px); */
        padding: 0 16px;
        position: fixed;
        bottom: 38px;
        left: 0;
        right: 0;
        z-index: 10;
    }

    .pop-browse__btn-block button,
    .pop-browse__btn-edit button {
        width: 100%;
        height: 40px;
    }

    .pop-browse__btn-save {
        background-color: rgba(86, 94, 239, 1);
        color: rgba(255, 255, 255, 1);
    }

    .pop-browse__btn-delete,
    .pop-browse__btn-cancel {
        order: 1;
    }

    .pop-browse__btn-delete._view-mode,
    .pop-browse__btn-cancel._view-mode {
        order: 0;
    }

    .pop-browse__block.dark-mode .pop-browse__description-form-area {
        background-color: #20202c;
        overflow: hidden;
    }

    .pop-browse__block.dark-mode {
        background-color: #20202c;
    }
}

/* pop-browse - 495px */
@media screen and (max-width: 495px) {
    .pop-browse {
        top: 70px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 7;
        background: rgba(0, 0, 0, 0.4);
        height: 100%;
    }

    .pop-browse__container {
        width: 100%;
        height: calc(100vh - 70px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /*  .pop-browse__block {
        overflow: hidden;
    } */

    .pop-browse__content {
        flex: 1;
        overflow-y: auto;
        gap: 20px;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    /* Chrome/Safari */
    .pop-browse__content::-webkit-scrollbar {
        display: none;
    }

    .pop-browse__content .pop-browse__category-theme {
        display: none;
    }

    .pop-browse__content .pop-browse__category-theme-block-mobile {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    .pop-browse__content .pop-browse__category-theme-mobile {
        width: fit-content;
        max-width: 100%;
    }

    .pop-browse__status-themes {
        justify-content: flex-start;
    }

    .pop-browse__description-form-area {
        padding: 10px;
        height: 37px;
    }

    .pop-browse__description-form-area::placeholder {
        font-weight: 400;
        font-size: 14px;
        color: rgba(148, 166, 190, 1);
    }

    .pop-browse__description {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .pop-browse__btn-block {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        padding: 0;
        position: sticky;
        bottom: 38px;
        left: 0;
        right: 0;
        z-index: 10;
    }
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

/* pop-user */
@media screen and (max-width: 1024px) {
    .pop-user__menu {
        height: 215px;
    }

    .pop-user__menu button {
        width: 100%;
    }
}

/* 660px */
/* @media screen and (max-width: 660px) {
    .container {
        width: 100%;
        padding: 0 16px;
    }

    ._hover03 {
        width: 142px;
        height: 40px;
        margin-left: 0px;
    }
    .header__btn-main-new {
        z-index: 3;
        position: fixed;
        left: 16px;
        bottom: 30px;
        top: auto;
        width: calc(100vw - 32px);
        height: 40px;
        border-radius: 4px;
        margin-right: 0;
    }
} */
