* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #000000;
}

body {
    background-color: #eaeef6;
}

#root {
    width: 100%;
}

a,
a:visited {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    text-decoration: none;
    cursor: pointer;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

button,
._btn {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    cursor: pointer;
    outline: none;
}

ul li {
    list-style: none;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.wrapper {
    max-width: 100%;
    width: 100vw;
    min-height: 100vh;
    /* overflow: hidden;
    background-color: #f1f1f1; */
}

._hover01:hover {
    background-color: #565eef;
}

._hover02:hover,
.header__user:hover {
    color: #565eef;
}

._hover02:hover::after,
.header__user:hover::after {
    border-left-color: #565eef;
    border-bottom-color: #565eef;
}

/* PopUser */
.header__pop-user-set {
    position: absolute;
    top: 61px;
    right: calc(50% - 600px);
    width: 213px;
    height: 205px;
    border-radius: 10px;
    border: 0.7px solid #94a6be66;
    box-shadow: 0px 10px 39px 0px #1a386536;
    background-color: #ffffff;
    padding: 34px;
    text-align: center;
    z-index: 10;
}

.pop-user-set:target,
.pop-exit:target,
.pop-new-card:target,
.pop-browse:target {
    display: block;
}

._active-topic {
    opacity: 1 !important;
}

.pop-wrap {
    position: relative;
    top: 0;
    left: 0;
}

.pop-exit {
    display: none;
    width: 100%;
    height: 100%;
    min-width: 320px;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.pop-exit__container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.pop-exit__block {
    display: block;
    margin: 0 auto;
    background-color: #ffffff;
    max-width: 370px;
    width: 100%;
    padding: 50px 60px;
    border-radius: 10px;
    border: 0.7px solid #d4dbe5;
    box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.13);
}

.pop-exit__ttl h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.4px;
    margin-bottom: 20px;
}

.pop-exit__exit-yes {
    width: 153px;
    height: 30px;
    background-color: #565eef;
    border-radius: 4px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    letter-spacing: -0.14px;
    color: #ffffff;
    margin-right: 10px;
}

.pop-exit__exit-yes a {
    width: 100%;
    height: 100%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pop-exit__exit-no {
    width: 153px;
    height: 30px;
    background-color: transparent;
    border-radius: 4px;
    border: 0.7px solid var(--palette-navy-60, #565eef);
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    letter-spacing: -0.14px;
    color: #ffffff;
}

.pop-exit__exit-no a {
    width: 100%;
    height: 100%;
    color: #565eef;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pop-exit__form-group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pop-user-set__name {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.14px;
    margin-bottom: 4px;
}

.pop-user-set__mail {
    color: #94a6be;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.14px;
    margin-bottom: 10px;
}

.pop-user-set__theme {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.pop-user-set__theme p {
    color: #000;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.14px;
}

.pop-user-set__theme input[type="checkbox"] {
    position: relative;
    width: 24px;
    height: 13px;
    border-radius: 100px;
    background-color: #eaeef6;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.pop-user-set__theme input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #94a6be;
    transition: 0.5s;
}

.pop-user-set__theme input:checked[type="checkbox"]::before {
    left: 12px;
}

._hover03 {
    height: 30px;
    background-color: transparent;
    color: #565eef;
    border-radius: 4px;
    border: 0.7px solid #565eef;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding: 0 14px;
}

._hover03:hover {
    background-color: #565eef;
    color: #ffffff;
}

.subttl {
    font-size: 14px;
    font-weight: 600;
}

.pop-new-card {
    width: 100%;
    min-width: 375px;
    height: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
}

.pop-new-card__container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
}

.pop-new-card__block {
    display: block;
    margin: 0 auto;
    background-color: #ffffff;
    max-width: 630px;
    width: 100%;
    height: 596px;
    padding: 40px 30px 48px;
    border-radius: 10px;
    border: 0.7px solid #d4dbe5;
    position: relative;
}

.pop-new-card__content {
    display: block;
    text-align: left;
}

.pop-new-card__ttl {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 20px;
}

.pop-new-card__close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #94a6be;
    cursor: pointer;
}

.pop-new-card__close:hover {
    color: #000000;
}

.pop-new-card__wrap {
    display: flex;
    align-items: flex-start;
    column-gap: 14px;
    width: 559px;
}

.pop-new-card__form {
    width: 370px;
    display: block;
    margin-bottom: 20px;
    padding: 0;
}

.pop-new-card__deadline {
    font-weight: 400;
    font-size: 10px;
    color: #94a6be;
    text-align: left;
    margin-left: 7px;
}

.pop-new-card__span {
    color: #000000;
}

.form-new__block {
    display: flex;
    flex-direction: column;
}

.form-new__input,
.form-new__area {
    width: 100%;
    outline: none;
    padding: 14px;
    background-color: transparent;
    border: 0.7px solid rgba(148, 166, 190, 0.4);
    border-radius: 8px;
    font-size: 14px;
    line-height: 1;
    letter-spacing: -0.14px;
}

.form-new__input::-moz-placeholder,
.form-new__area::-moz-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1px;
    color: #94a6be;
    letter-spacing: -0.14px;
}

.form-new__input::placeholder,
.form-new__area::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1px;
    color: #94a6be;
    letter-spacing: -0.14px;
}

.form-new__input {
    margin: 20px 0;
    height: 49px;
}

.form-new__area {
    width: 100%;
    margin-top: 14px;
    height: 200px;
}

.form-new__create {
    width: 132px;
    height: 30px;
    background-color: #565eef;
    border-radius: 4px;
    border: 0;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #ffffff;
    float: right;
}

._other-month {
    opacity: 0;
}

._cell-day:hover {
    color: #94a6be;
    background-color: #eaeef6;
}

._active-day {
    background-color: #94a6be;
    color: #ffffff;
}

._current {
    font-weight: 700;
}

.topics {
    margin-bottom: 20px;
}

.topics__themes {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 7px;
}

.topics__p {
    margin-bottom: 14px;
    font-size: 14px;
    font-weight: 600;
}

.topics__theme {
    display: inline-block;
    width: auto;
    height: 30px;
    padding: 8px 20px;
    border-radius: 24px;
    opacity: 0.4;
}

.topics__theme p {
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    white-space: nowrap;
}

._orange {
    background-color: #ffe4c2;
    color: #ff6d00;
}

._green {
    background-color: #b4fdd1;
    color: #06b16e;
}

._purple {
    background-color: #e9d4ff;
    color: #9a48f1;
}

.pop-browse {
    width: 100%;
    height: 100%;
    min-width: 375px;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
}

.pop-browse__container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.pop-browse__block {
    display: block;
    margin: 0 auto;
    background-color: #ffffff;
    max-width: 630px;
    width: 100%;
    height: 492px;
    padding: 40px 30px 48px;
    border-radius: 10px;
    border: 0.7px solid #d4dbe5;
    position: relative;
}

.pop-browse__content {
    display: block;
    text-align: left;
}

.pop-browse__content .topics__theme {
    opacity: 1;
}

.pop-browse__content .theme-down {
    display: none;
    margin-bottom: 20px;
}

.pop-browse__content .theme-top {
    display: block;
}

.pop-browse__top-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.pop-browse__ttl {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.pop-browse__wrap {
    display: flex;
    align-items: flex-start;
    column-gap: 14px;
    margin-bottom: 18px;
    width: 570px;
}

.pop-browse__form {
    width: 370px;
    display: block;
}

.pop-browse__btn-browse,
.pop-browse__btn-edit {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.pop-browse__btn-browse .btn-group {
    display: flex;
    column-gap: 8px;
}

.pop-browse__btn-browse button,
.pop-browse__btn-edit button {
    height: 30px;
    padding: 0 14px;
}

.form-browse__block {
    display: flex;
    flex-direction: column;
}

.form-browse__area {
    max-width: 370px;
    width: 100%;
    height: 200px;
    outline: none;
    padding: 20px 14px;
    border: 0.7px solid rgba(148, 166, 190, 0.4);
    border-radius: 8px;
    font-size: 14px;
    line-height: 1;
    letter-spacing: -0.14px;
    margin-top: 14px;
    background-color: #eaeef6;
}

.form-browse__area::-moz-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1px;
    color: #94a6be;
    letter-spacing: -0.14px;
}

.form-browse__area::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1px;
    color: #94a6be;
    letter-spacing: -0.14px;
}

.status {
    margin-bottom: 18px;
}

.status__p {
    margin-bottom: 14px;
    font-size: 14px;
    font-weight: 600;
}

.status__themes {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 570px;
}

.status__theme {
    height: 30px;
    border-radius: 24px;
    padding: 0 14px;
    border: 0.7px solid #94a6be66;
    background-color: #ffffff;
    color: #94a6be;
    cursor: pointer;
}

.status__theme p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #94a6be;
}

/* Активный статус — серый фон, белый текст */
._active-status,
._gray {
    background-color: #94a6be !important;
    color: #ffffff !important;
    border-color: #94a6be !important;
}

._gray {
    padding-top: 7px;
}

._active-status p,
._gray p {
    color: #ffffff !important;
}

._btn-bor {
    border-radius: 4px;
    border: 0.7px solid var(--palette-navy-60, #565eef);
    outline: none;
    background-color: transparent;
    color: #565eef;
    font-size: 14px;
    font-weight: 500;
}

._btn-bg {
    border-radius: 4px;
    background-color: #565eef;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

._hide {
    display: none;
}

._dark {
    display: none;
}

.container {
    width: 100%;
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

/* PopLogin/SignInPage */
/* Оверлей */
.login-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eaeef6;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Центральное окно */
.login-modal-content {
    width: 368px;
    border-radius: 10px;
    border: 0.7px solid #d4dbe5;
    box-shadow: 0px 4px 67px -12px #00000021;
    background-color: #ffffff;
    padding: 50px 60px;
    text-align: center;
    position: relative;
}

/* Заголовок */
.login-modal-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 150%;
}

/* Форма */
.login-modal-form {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}

/* Поля ввода */
.login-modal-input {
    width: 100%;
    height: 30px;
    padding: 8px 10px;
    border: 0.7px solid #94a6be66;
    border-radius: 8px;
    font-size: 14px;
    color: #000;
}

.login-modal-input:focus {
    outline: none;
    border-color: #4f46e5;
    box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}

.login-modal-input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -2%;
    color: #94a6be;
}

/* Сообщение ошибки */
.login-modal-input--error {
    border-color: #f84d4d !important;
}

.login-modal-error {
    color: #f84d4d;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    line-height: 1.4;
}

/* Кнопка "Войти" */
.login-modal-button {
    height: 30px;
    padding: 8px auto;
    background-color: #565eef;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 13px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
}

/* Кнопка активна, когда НЕТ ошибки */
.login-modal-button:not([disabled]) {
    background-color: #565eef;
}

/* Кнопка серая ТОЛЬКО когда есть ошибка */
.login-modal-button[disabled] {
    background-color: #94a6be !important;
    cursor: not-allowed;
    opacity: 0.7;
}

.login-modal-button:not([disabled]):hover {
    background-color: #565eef;
}

/* Подвал с ссылкой */
.login-modal-footer {
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    text-decoration: none;
    color: #94a6be66;
}

.login-modal-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    text-decoration: underline;
    color: #94a6be66;
    border: none;
    background-color: #ffffff00;
}

.login-modal-link:hover {
    color: #4f46e5;
    text-decoration: none;
}

/* PopExitConfirm */
/* Оверлей */
.pop-exit-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Центральное окно */
.pop-exit-content {
    background-color: white;
    border-radius: 10px;
    border: 0.7px solid #d4dbe5;
    box-shadow: 0px 4px 67px -12px #00000021;
    padding: 50px 28.5px;
    text-align: center;
    width: 370px;
    height: 180px;
}

.pop-exit-title {
    margin-bottom: 20px;
    color: #000;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
}

.pop-exit-buttons {
    width: 100%;
    display: flex;
    column-gap: 7px;
    justify-content: center;
}

.pop-exit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 153px;
    height: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    border-radius: 4px;
    cursor: pointer;
}

.pop-exit-btn-yes {
    background-color: #565eef;
    color: white;
    border: none;
}

.pop-exit-btn-no {
    background-color: #ffffff00;
    color: #565eef;
    border: 0.7px solid #565eef;
}

@media screen and (max-width: 1200px) {
    .main__block {
        width: 100%;
        margin: 0 auto;
        padding: 40px 0 64px;
    }
}

@media screen and (max-width: 660px) {
    .pop-new-card {
        top: 70px;
    }

    .pop-new-card__container {
        padding: 0;
        justify-content: flex-start;
    }

    .pop-new-card__block {
        border-radius: 0;
    }

    .pop-new-card__wrap {
        display: block;
    }

    .date-create {
        display: none;
        margin-bottom: 7px;
    }

    .pop-browse {
        top: 70px;
    }

    .pop-browse__container {
        padding: 0;
        justify-content: flex-start;
    }

    .pop-browse__block {
        border-radius: 0;
    }

    .pop-browse__wrap {
        display: block;
    }
}

@media screen and (max-width: 495px) {
    .container {
        width: 100%;
        padding: 0 16px;
    }

    .header__btn-main-new {
        z-index: 3;
        position: fixed;
        left: 16px;
        bottom: 30px;
        top: auto;
        width: calc(100vw - 32px);
        height: 40px;
        border-radius: 4px;
        margin-right: 0;
    }

    .pop-new-card__container {
        padding: 0;
        justify-content: flex-start;
    }

    .pop-new-card__block {
        padding: 20px 16px 32px;
    }

    .pop-new-card__form {
        max-width: 100%;
        width: 100%;
        display: block;
    }

    .pop-new-card__calendar {
        width: 100%;
    }

    .form-new__area {
        max-width: 100%;
        height: 34px;
    }

    .form-new__create {
        width: 100%;
        height: 40px;
    }

    .pop-browse__block {
        padding: 20px 16px 32px;
    }

    .pop-browse__content .theme-down {
        display: block;
        margin-bottom: 20px;
    }

    .pop-browse__content .theme-top {
        display: none;
    }

    .pop-browse__form {
        max-width: 100%;
    }

    .pop-browse__calendar {
        width: 100%;
    }

    .pop-browse__btn-browse button,
    .pop-browse__btn-edit button {
        width: 100%;
        height: 40px;
    }

    .pop-browse__btn-browse .btn-group,
    .pop-browse__btn-edit .btn-group {
        width: 100%;
    }

    .pop-browse__btn-browse .btn-group button,
    .pop-browse__btn-edit .btn-group button {
        margin-right: 0px;
    }

    .form-browse__area {
        max-width: 100%;
    }

    .form-browse__area {
        height: 37px;
    }
}

@media only screen and (max-width: 375px) {
    .pop-exit__block {
        padding: 50px 20px;
    }

    .pop-exit__exit-yes {
        width: 100%;
        height: 40px;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .pop-exit__exit-no {
        width: 100%;
        height: 40px;
    }

    .pop-exit__form-group {
        display: block;
    }
}
